# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Data files
data/ocr_results/
data/raw_images/
data/labeled/
data/augmented/
data/donut/
data/products/
data/augmented_dataset/
data/clip_augmented/

# Backup image directories (exclude from Git)
old_files/data_backup_20250428_160729/
old_files/data_backup_20250428_161836/
old_files/data_backup_20250428_161836/archive/augmented/
data_backup_20250428_160729/archive/annotation/raw/
data_backup_20250428_160729/archive/augmented/
data_backup_20250428_160729/archive/annotation/images/

# Models
models/
*.pt

# Logs & Temp
logs/
*.log
*.tmp
*.pid
nohup.out

# Duplicates
__pycache__/
*.pyc

# Backup
backup/

# Environment
.env
.venv
env/
venv/
ENV/
compare_env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# API Keys & Sensitive Info
*.key
api_keys.json
